rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowedUser() {
      return request.auth != null
  // Reemplaza estos emails por los 2 correos reales que tengas en Firebase Auth.
  && (request.auth.token.email == "user1@example.com"
      || request.auth.token.email == "user2@example.com");
    }

    // Workspace doc + subcollections
    match /workspaces/{workspaceId} {
      allow read, write: if isAllowedUser();

      match /plans/{planId} {
        allow read, write: if isAllowedUser();
      }
    }
  }
}
